
.albums-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto); 
padding:0.7em;
    margin: 0 auto; 
  }
  
  .album-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .album-image {
    width: 100%;
    height: auto;
  }
  
